---
layout: layout.njk
title: Blog
description: News, updates and resources
landing_layout: overlay
permalink: "/blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}"
pagination:
  data: collections.blogPosts
  size: 5
  alias: posts
---

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="padding:0; border-bottom: 1px solid">
      {% if posts | length %}
        <ul class="govuk-list govuk-list--spaced">
          {% for post in posts %}
            <li>
              <div class="govuk-grid-row">
                <div class="{% if post.data.image_url %}govuk-grid-column-two-thirds{% else %}govuk-grid-column-full{% endif %}">
                  <h2 class="govuk-heading-l">
                    <a class="govuk-link govuk-link--no-visited-state" href="{{ post.url }}">
                      {{ post.data.title }}
                    </a>
                  </h2>
                  {% if post.data.description %}
                    <p class="govuk-body">{{ post.data.description }}</p>
                  {% endif %}
                  <p class="govuk-body-s govuk-!-font-size-16 govuk-!-colour-dark-grey">
                    {{ post.date | readableDate }}
                  </p>
                </div>
                {% if post.data.image_url %}
                  <div class="govuk-grid-column-one-third">
                    <a href="{{ post.url }}">
                      <img src="{{ post.data.image_url }}" alt="{{ post.data.title }}" class="blog-list-image" style="width: 100%; height: auto; border-radius: 5px; object-fit: cover;">
                    </a>
                  </div>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>

        {% if pagination.pages.length > 1 %}
          <nav class="govuk-pagination" role="navigation" aria-label="Blog pagination">
            {% if pagination.href.previous %}
              <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="{{ pagination.href.previous }}" rel="prev">
                  <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.3886-4.3906 4.3886-4.3906-1.377-1.449-6.7441 6.4062z"></path>
                  </svg>
                  <span class="govuk-pagination__link-title">Previous</span>
                </a>
              </div>
            {% endif %}

            <ul class="govuk-pagination__list">
              {% for pageEntry in pagination.pages %}
                {% set pageNum = loop.index %}
                {% set pageHref = pagination.hrefs[loop.index0] %}
                {% if pageEntry == pagination.pageNumber %}
                  <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="{{ pageHref }}" aria-label="Page {{ pageNum }}" aria-current="page">
                      {{ pageNum }}
                    </a>
                  </li>
                {% else %}
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="{{ pageHref }}" aria-label="Page {{ pageNum }}">
                      {{ pageNum }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

            {% if pagination.href.next %}
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="{{ pagination.href.next }}" rel="next">
                  <span class="govuk-pagination__link-title">Next</span>
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </a>
              </div>
            {% endif %}
          </nav>
        {% endif %}
      {% else %}
        <p class="govuk-body">No articles yet. New posts will appear here once published.</p>
      {% endif %}
    </div>
  </div>
</div>

