<footer class="govuk-footer" style="min-height: 120px;background-color:white">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
     
        
      
      <div class="govuk-grid-column-one-third">
        <p class="govuk-label">
          <strong>Phone</strong>
        </p>
        <p class="govuk-body">
          <strong>
            <a class="govuk-link" href="tel:{{ site.phone }}">{{ site.phone }}</a>
          </strong>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-label">
          <strong>Email</strong>
        </p>
        <p class="govuk-body">
          <strong>
            <a class="govuk-link" href="mailto:{{ site.email }}">{{ site.email }}</a>
          </strong>
        </div>
        <div class="govuk-grid-column-one-third">
         <p class="govuk-label">
          <strong>Address</strong>
        </p>
        <strong>
          <a class="govuk-link" href="{{ site.address_url }}">{{ site.address }}</a>
        </strong>
        </div>
</div>
      
      </div>
      <p style="text-align:center;">Copyright © 2025 aolaw.ca All Rights Reserved.<p></div>
      </footer>