<div class="landing centered{% if text == 'inverse' %} text-inverse{% endif %}" style="background: #faf7f2; height:100vh">
  {% include "partials/header.njk" %}
  <div class="govuk-width-container">
  
  <div class="hero-inner" style="padding: 7rem 1.5rem;">
    <div class="landing-stacked-content ">
      {% include "partials/breadcrumbs.njk" %}
      <h2 class="govuk-heading-xl">{{title}}</h2>
      <h2 class="govuk-body-lead">{{description}}</h2>

      {% if button_title %}
        <a href={{button_link}} class="govuk-button govuk-button--start">{{button_title}}</a>
      {% endif %}
    </div>

    {% if image_url %}
      <div class="landing-stacked-image">
        <img style="width:100%;border-radius:5px;object-fit: cover;margin:0;" src="{{ image_url }}" alt="{{ description }}"/>
      </div>
    {% endif %}


    <!-- Stickers -->
    <img src="/assets/images/sticker-shopify.png" alt="" class="sticker sticker-shopify" />
    <img src="/assets/images/sticker-laptop.png" alt="" class="sticker sticker-laptop" />
    <img src="/assets/images/sticker-browser.png" alt="" class="sticker sticker-browser" />
  </div>
</div>
</div>
