<div class="landing-transparent{% if text == 'inverse' %} text-inverse{% endif %}">
  {% include "partials/header.njk" %}
  {% if image_url %}
  <div class="landing-transparent-bg">
    <img src={{image_url}} alt={{description}} class="landing-transparent-image"/>
  </div>
  {% endif %}
  <div class="landing-transparent-content">
    <div class="govuk-width-container">
      <div class="landing-transparent-text">
        {% include "partials/breadcrumbs.njk" %}
        
        <h2 class="govuk-heading-xl">{{title}}</h2>
        <h2 class="govuk-body-lead">{{description}}</h2>

        {% if button_title %}
          <a href={{button_link}} class="govuk-button govuk-button--start">{{button_title}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
