<div class="landing overlay-landing{% if text == 'inverse' %} text-inverse{% endif %}">
  {% if image_url %}
  <div class="landing-background">
    <img src={{image_url}} alt={{description}} class="landing-bg-image"/>
    <div class="landing-overlay"></div>
  </div>
  {% endif %}
  <div class="landing-content-overlay">
    {% include "partials/header.njk" %}
    <div class="govuk-width-container">
      <div class="landing-text-overlay">
        {% include "partials/breadcrumbs.njk" %}
        
        <h2 class="govuk-heading-xl">{{title}}</h2>
        <h2 class="govuk-body-lead">{{description}}</h2>

        {% if button_title %}
          <a href={{button_link}} class="govuk-button govuk-button--start">{{button_title}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
