<div class="landing landing--dark{% if text == 'inverse' %} text-inverse{% endif %}">
  {% include "partials/header.njk" %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row landing__grid">
      <div class="{% if image_url %}govuk-grid-column-one-half{% else %}govuk-grid-column-full{% endif %} landing__content">
        {% include "partials/breadcrumbs.njk" %}

        <h2 class="govuk-heading-xl landing__title">{{ title | safe }}</h2>
        <h2 class="govuk-body-lead landing__description">{{ description }}</h2>

        <div class="landing__actions">
          {% if button_title %}
            <a href={{ button_link }} class="govuk-button govuk-button--start landing__button">{{ button_title }}</a>
          {% endif %}
        </div>
      </div>
      {% if image_url %}
      <div class="govuk-grid-column-one-half landing__media">
        <img src={{ image_url }} alt={{ description }} class="landing__image__home"/>
      </div>
      {% endif %}
    </div>
  </div>
</div>
