<div class="landing landing--dark">
  <div class="govuk-width-container">
    <div class="govuk-grid-row landing__grid">
      <div class="govuk-grid-column-one-half landing__content">
        {% include "partials/breadcrumbs.njk" %}

        <h2 class="govuk-heading-xl landing__title">{{ title | safe }}</h2>
        <h2 class="govuk-body-lead landing__description">{{ description }}</h2>

        {% set display_call_button = show_call_button is not defined or show_call_button %}
        {% if button_title or (display_call_button and site.phone) %}
          <div class="landing__actions">
            {% if button_title %}
              <a href={{ button_link }} class="govuk-button govuk-button--start landing__button">{{ button_title }}</a>
            {% endif %}
            {% if display_call_button and site.phone %}
              <a href="tel:{{ site.phone }}" class="govuk-button govuk-button--start landing__button landing__button--outline">
                Call {{ site.phone | formatPhone or site.phone }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="govuk-grid-column-one-half landing__media">
        {% if image_url %}
          <img src={{ image_url }} alt={{ description }} class="landing__image"/>
        {% endif %}
      </div>
    </div>
  </div>
</div>
