{% if collections.reviews and collections.reviews.length > 0 %}
<div class="review-cards">

  <div class="govuk-width-container">
  <h2 class="govuk-heading-l"> Happy Clients </h2>
    <div class="review-cards__grid">
      {% for review in collections.reviews %}
        <div class="review-card">
          <p class="review-card__body">{{ review.data.body }}</p>
          <p class="review-card__client">{{ review.data.client }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

