{% set shareUrl = site.url + page.url %}
<div class="share-section">
  <p class="share-section__label">Share this story:</p>
  <div class="share-section__icons">
    <a href="https://twitter.com/intent/tweet?url={{ shareUrl }}&text={{ title }}" 
       target="_blank" 
       rel="noopener noreferrer" 
       class="share-section__icon share-section__icon--twitter"
       aria-label="Share on X (Twitter)">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="currentColor"/>
      </svg>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" 
       target="_blank" 
       rel="noopener noreferrer" 
       class="share-section__icon share-section__icon--facebook"
       aria-label="Share on Facebook">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" fill="currentColor"/>
      </svg>
    </a>
    <a href="mailto:?subject={{ title }}&body={{ shareUrl }}" 
       class="share-section__icon share-section__icon--email"
       aria-label="Share via Email">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z" fill="currentColor"/>
      </svg>
    </a>
  </div>
</div>

